# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Project specific
bugs.json
meta.json
config.py
emails_extracted/
changes
